include header.pug
body
    h1 View employees
        .col-md-4.col-md-offset-1
            h3.text-center Add New Employee
            form(name="add-employee" action="/employee/add" , method="post")
                #error 
                    if error 
                        p.error-text Error!
                .form-group
                    label(for='name') Name
                    input#name.form-control(type='text' name='name' placeholder='Name')
                .form-group
                    label(for='age') Age
                    input#age.form-control(type='text' name='age' placeholder='Age')
                .form-group
                    label(for='position') Position
                    select#position.form-control(name='position')
                        option(value='') --Select Position--
                        option(value='Frontend Developer') Frontend Developer
                        option(value='UI/UX Engineer') UI/UX Engineer
                        option(value='iOS Engineer') iOS Engineer
                        option(value='Android Developer') Android Developer
                .form-group
                    label(for='status') Status
                    select#position.form-control(name='status')
                        option(value='') --Select Position--
                        option(value='Active') Active
                        option(value='Inactive') Inactive
                .form-group
                    input#add.btn.btn-info(type="submit" value="Add")
                #sucess     
                    if sucess   
                        p.sucess-text Sucess!!