include partials/header.pug
body
    h1 Dashboard 
        div.container
            a(href='/employee') Employee
            a(href='/asset') Asset
            a(href='/issue') Issue asset
            a(href='/return') Return asset
            a(href='/scrap') Scrap asset 
            a(href='/history') History 
            

        



