include partials/header.pug
body
    h1 Dashboard 
        div.container
            a(href='/employee') Employee
            a(href='/asset/master') Asset
            a(href='/asset/issue') Issue asset
            a(href='/asset/return') Return asset
            a(href='/asset/scrap') Scrap asset 
            a(href='/asset/history') History 
            

        



