*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin: auto;
    color: rgb(255, 174, 0);
}

/* Dashboard */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin: auto 40%;
    width : 200px;
}

.container a{
    padding: 5px;
    font-size: 2rem;
    text-decoration: none;
}

/* Employee */

/* .form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin: auto 40%;
    width : 200px;
}

.form-input input,label{
    padding: 5px;
} */

.error-text{
    color: red;
}
.sucess-text{
    color: green;
}

/* Asset Master */

.container-table{
    margin-top: 10px;
    display : flex;
    justify-content: center;
}

.modal-content{
    width:400px;
}

.modal-body {
    display: flex;
    flex-direction: column;
}
.modal-item{
    display:flex;
    justify-content: space-between;
}
.modal-item input {
    width: 50%;
}

.modal-item label,input{
    padding: 10px;
    
}
